@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* 0. GENERAL */

body{
	font-family: 'Roboto', sans-serif;
}

.bg-primary{
	background-color: transparent !important;
}

a:hover{
	text-decoration: none;
}

#page-wrapper, #single-wrapper{
	background-image: url('../img/pattern.png');
	background-repeat: repeat;
	padding: 0px;
}

#content{
	background: #fff;
	padding: 40px;
}

.home #content{
	padding: 0px;
	background: transparent;
}

h4{
	color:$primary;
	letter-spacing: 3px;
	font-weight: 300;
	margin-bottom: 40px;
	margin-top: 50px;
	text-decoration: underline;
}

/* 1. HEADER */

#wrapper-navbar{
	padding-bottom: 40px;
	border-bottom: 1px solid $secondary;
}


.logo-line{
	border-top: 3px solid #000;
	position: absolute;
	width: 100vw;
	left: 0px;
}

.logo-container{
	width: 100%;
	.navbar-brand{
		width: 345px;
		margin: auto;
		display: block;
		z-index: 9999;
		position: relative;

	}
}

.subtitle{
	color: $primary;
	text-align: center;
	font-weight: 300 ;
	font-size: 40px;
	letter-spacing: 7px;
}

/* FOOTER */

#wrapper-footer{
	display: none;
}

#wrapper-footer-full{
	background: #fff;
	padding-top: 56px;
	border-top: 1px solid $secondary;
}

#block-2{
	.wp-block-image{
		max-width: 240px;
	}
}
#block-3{
	.wp-block-image{
		width: 190px;
	}

}
#block-4{
	.wp-block-image{
		width: 133px;
	}	
}


/* About */

.special-head{
	position: relative;
	.left-back,.right-back{
		top: 0;
		width: 50%;
		height: 100%;
		position: absolute;
		z-index: -99;
	}
	.left-back{
		background: #6ba79f;
	}
	.right-back{
		right: 0;
		background: #1c6c8a;
	}
	img{
		width: 100%;
	}
}




/* Archive */
.archive-box{
	text-align: center;
	width: 360px;
	padding: 20px;
	background: #fff;
	float: left;
	height: 650px;
	border-left:1px solid $secondary;
	&:hover{
		background: #f1f1f1;
	}
	h5{
		margin-left: 30px;
		margin-right: 30px;
		margin-top:20px;
		margin-bottom: 40px;
		letter-spacing: 4px;
	}
	h2{	
		margin-top: 30px;
		margin-bottom: 30px;
		font-weight: 300;
		font-size: 40px;
		letter-spacing: 5px;
		color:#000;
	}
}

.box-206{
	border-right:1px solid $secondary;
}

/* Cases */

.case-menu{
	.archive-box{
		border: 0px;
		background: #fff;
		padding: 0px;
		height: 700px;
		overflow: hidden;
	}
}

.single-case #content.initial{
	padding: 0px;
	background: none;
}


/* Explore */

.single-case #content.items{
	h4{
		color:#ed6637;
	}
}

.explore-controls{
	display: none;
	width: 800px;
	top:30vh;
	position: fixed;
	background: #6ba79e;
	border-top: 2px solid #dd452d;
	border-bottom: 2px solid #dd452d;
	padding: 15px 30px 15px 30px;
	box-shadow: 10px 10px 10px #00000078;
	h3{
		width: 550px;
		color:#fff;
		font-size: 22px;
		float: left;
		&#view-question-written{
			margin-left: 20px;
		}
	}
	#play, #pause{
		height: 80px;
		float: left;
		margin-left: 30px;
		margin-top: 10px;
		float: left;
		cursor: pointer;
		img{
			max-height: 100%;
		}
	}
	#pause{
		display: none;
	}
}


.explore-list{
	margin-bottom: 60px;
	display: block;
	float: left;
	width: 100%;
	.answer{
		float: left;
		height: 100px;
		width: 100px;
		cursor: pointer;
		color: #fff;
		font-size: 45px;
		text-align: center;
		line-height: 100px;
		font-weight: bold;
	} 
}